@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ubuntu);
  --font-ubuntu: var(--font-ubuntu);
  --color-light-blue: #abbcff;
  --color-denim: #022959;
  --color-grey: #d6d9e6;
  --color-purple: #483eff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
}
